.about-card{
    text-align: center;
    width: 20%;
}

.about-card-title{
    font-size:35px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #f3f3f3;
}

.about-card p {
    width:80%;
    margin:10px auto 30px;

    font-size: 20px;
    color: #f3f3f3;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height:1.2;
}
.about-card img {
    height:120px;
    margin-bottom:10px;
}

@media screen and (max-width: 1000px){
    .about-card{
        width:45%;
    }
}

@media screen and (max-width:500px){
    .about-card{
        width:80%;
        background-color:rgb(31, 34, 43);
        margin-bottom: 10px;
    }
}