.btn {
    text-decoration:none;
    color:#f3f3f3;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
    box-sizing:border-box;
    background-color:aqua;
    display: inline-block;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    border-radius:2px;
    box-shadow: 3px 3px #5a5a5a85;
    transition: all 0.3s ease-in;
    border:none;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 3px #8c8c8c78;
}
.btn:focus{
    outline:none;
}

.btn p img {
    height:100%;
}

.btn--small{
    width:50px;
}
.btn--large{
    width:150px;
}

.btn--primary {
    background-color:#38415D; 
}

.btn--primary:hover{
    background-color: #4d5674;
    
}

.btn--secondary{
    background-color:#6380E5;
}
.btn--secondary:hover{
    background-color:#8599e4;
}