.cards-row{
    display: flex;
    justify-content: space-around;
    margin-bottom:10px;
    width:100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1480px){
    .cards-row{
        justify-content:center;
    }
}
@media screen and (max-width: 960px){
    .cards-row{
        flex-direction:column;
    }
}