.card{
    width: 470px;
    height: 350px;
    margin: 10px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
    background-color: #38415D;
}
.card-wrapper{
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
    cursor:pointer;
    overflow:hidden;
}
.card-wrapper:hover .card-img{
    filter:none;
    transform: scale(1.1)
}
.card-wrapper:hover .card-title{
    opacity:0;
}

.card-title p{
    padding:0;
    margin:0;
}
.card-title{
    position:absolute;
    font-size:30px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#f3f3f3;
    transform: translate(50%, -100%);
    top: 50%;
    right:50%;
    opacity:1;
    transition: all 0.4s ease;
    width:100%;
    text-align:center;
}
.card-tech{
    font-size:20px;
}
.card-img{
    height:95%;
    filter:blur(2px) contrast(0.2);
    transition: all 0.4s ease;
}

.buttons{
    position:absolute;
    display: flex;
    right: 0;
    bottom: 5%;
}

@media screen and (max-width: 1480px){
    .card{
        width:400px;
    }
}
@media screen and (max-width: 960px){
    .card{
        margin:10px auto;
    }
}

@media screen and (max-width: 500px){
    .card{
        width:100%;
    }
    .card-title{
        width:100%;
        text-align:center;
    }
    .card-title p{
        padding:0;
        margin:0;
    }
    .card-tech{
        font-size:15px;
        font-style: italic;
        color: #f3f3f3;
    }
}